<h3>Details of Post: <%= @post.title %></h3>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text body:</strong>
  <%= @post.text_body %>
</p>

<%= render "comments/show_comments", post: @post %>
<%= render "comments/comments_form", comment: @comment %>

<br />
<%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-success" %> |
<%= link_to 'Back', root_path, class: "btn btn-success" %>